<nav class="navbar navbar-fixed-top" style="border-radius: 0">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">PIXELS</a>
        </div>

        <div class="col-sm-4 navbar-left">
            <form action="{% url 'search' %}" role="search" class="navbar-form">
                <div class="input-group">
                    <input type="text" name="term" id="" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-info" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="#">LOCATIONS</a></li>
                <li><a href="/admin">ADMIN</a></li>
            </ul>
        </div>
    </div>
</nav>
